*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #00C1BA;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    min-height: 100vh;
}

.container{
    max-width: 1024px;
    margin: auto;
}


/* Start Navbar */

nav{
    background-color: var(--primary-color);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white
}

nav a:hover{
    background-color: #a5fcf954;
    color: black;
}

nav li:first-child{
    margin: auto;
    width: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: gray;
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px rgba(0,0,0,0.1);
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-btn{
    display: none;
}

/* End Navbar */


/* Start Banner */

.banner{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.637) 0%, rgba(0, 0, 0, 0.808) 100%) , url('/assets/images/header.jpg');
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.banner-text h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
    text-wrap: balance;
}

.banner-text h1 span{
    color: var(--primary-color);
}

.banner-text p{
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.025em;
    line-height: 2;
    margin-bottom: 30px;
    text-wrap: balance;
    padding: 0 5px;
}

.banner-btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-now {
    align-items: center;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-right: 20px;
  }

  .learn-more {
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }

/* End Banner */
























/* Responsive Style */

/* Mobile Styles */
@media screen and (max-width: 768px) {
    /* Navbar Start */
    .hideOnMobile{
        display: none;
    }

    .menu-btn{
        display: block;
    }
    /* Navbar End */

    /* Banner Start */
    .banner-text h1{
        font-size: 30px;
    }

    .banner-text p{
        font-size: 12px;
    }
    /* Banner End */
}
